<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="divider"></li>
        <li><a href="/UserType">&nbsp;&nbsp; User Type</a></li>
        <li class="divider"></li>
        <li><a href="/Customer">&nbsp;&nbsp; Customer</a></li>
        <li class="divider"></li>
        <li><a href="/HousesForSale">&nbsp;&nbsp; Houses For Sale</a></li>
        <li class="divider"></li>
        <li><a href="/HousesForRent">&nbsp;&nbsp; Houses For Rent</a></li>
    </ul>

</li>


<li class="dropdown" data-admin-menu>
    <a href="#">
        Houses
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
       
        <li><a href="/HousesForSale">&nbsp;&nbsp; Houses For Sale</a></li>
        <li class="divider"></li>
        <li><a href="/HousesForRent">&nbsp;&nbsp; Houses For Rent</a></li>
    </ul>

</li>

